@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer components {
  .main-gradient {
    @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-pink-500 to-red-500 via-orange-600 inline text-transparent bg-clip-text
  }

  .full-gradient {
    @apply bg-gradient-to-r from-yellow-500 from-20% via-blue-500 to-green-500 inline text-transparent bg-clip-text
  }

  .bold-grad-text {
    @apply text-orange-500 font-bold
  }

  .contact-buttons-about {
    @apply text-gray-600 hover:text-orange-400 w-14 bg-white shadow-lg flex justify-center p-4 rounded-lg transform transition hover:scale-110
  }

  .projects-shadow {
    @apply w-full md:w-1/2 p-4 relative border-4 border-orange-400 shadow-[5px_5px_0px_0px_rgba(109,40,217)] transition-all hover:shadow-none shadow-orange-400 bg-white rounded-xl duration-300
  }

  .projects-font {
    @apply text-3xl font-outfit font-semibold text-gray-700
  }

  .project-button {
    @apply p-2 bg-red-500 text-base md:text-2xl text-white font-outfit rounded-xl px-4 shadow-lg shadow-red-500/50 transition transform hover:scale-105 cursor-pointer flex justify-center items-center
  }

  .one-title {
    @apply md:text-xl text-lg
  }

  .two-title {
    @apply md:text-2xl text-xl
  }

  .three-title {
    @apply md:text-3xl text-2xl
  }


  .four-title {
      @apply lg:text-4xl text-3xl
  }

  .five-title {
      @apply xl:text-5xl lg:text-4xl text-3xl
  }

  .six-title {
      @apply xl:text-6xl lg:text-5xl md:text-4xl text-4xl
  }

  .seven-title {
      @apply xl:text-7xl lg:text-6xl md:text-5xl text-5xl
  }

  .eight-title {
      @apply xl:text-8xl lg:text-6xl md:text-5xl text-5xl
  }

  .bh {
    @apply font-medium
  }

  .bhl {
    @apply font-medium text-blue-600 hover:text-blue-900 transition underline
  }

  .bh3 {
    @apply md:text-3xl text-2xl font-medium tracking-tight block
  }

  .bimage {
    @apply my-2 rounded-md shadow-md
  }


  .text-gradient-full {
    @apply bg-[linear-gradient(55deg,#fa0,#fd66cb_25%,#9f6eff_50%,#0af_75%,#0fa)];
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .transition300scale {
    @apply transition transform hover:scale-105
  }
}

.background-pattern-square {
  background-color: rgb(255, 255, 255);
  background-image:  linear-gradient(rgb(208, 208, 208) 1px, transparent 1px), linear-gradient(to right, #cbcbcb 1px, #ffffff 1px);
  background-size: 120px 120px;
}



.boxgrad:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius:8px;
}

/* 
* Provided by the Generator.
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.boxgrad::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  background: inherit;
  border-radius:8px;
}





.boxgradlight:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.boxgradlight::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      
.text-shadow-white {
  text-shadow: 0px 0px 10px white;
}

@keyframes slideInRight {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInRight 0.5s ease-out forwards;
}